<!-- Con este extend hacemos que el contenido de este html vaya donde este definida la secuencia -->
<!-- block nombreEspecificado en el archivo referido (en este caso base.html) -->
{% extends "verduras/base_hortaliza_page.html" %}

<!-- Definimos el contenido de block title que es extendido de base.html -->
{% block nombre_hortaliza_titulo %}Berenjena{% endblock %}
{% block nombre_hortaliza %}Berenjena{% endblock %}

<!-- Definimos el contenido de block content que es extendido de base.html -->
{% block info_hortaliza %}


<div class="flex flex-wrap justify-between">
    <div class="w-full">

        <h3 class="apartado_h3">Información de la Berenjena</h3>
        <p class="mt-4">
            La berenjena es una hortaliza originaria de la India, donde ya se cultivaba dos mil años antes de Cristo.
            Posteriormente se expandió el cultivo, y el consumo de este sano alimento a China y Birmania.
            España fue el primer país occidental en hacer uso culinario de la berenjena. Fueron traídas por
            los árabes, y hay constancia de su cultivo en las huertas levantinas y andaluzas en la alta Edad Media.
            Así, la berenjena se introdujo en América por los Españoles en la época de la colonización.
            Sea como fuere, la berenjena se conoció en Europa a través de España:
            los franceses no la descubrieron hasta el siglo XVII.
        </p>

        <img
            class="imagen_producto"
            src="static/images/verduras/berenjena/sola_res_min.jpg"
            alt="Foto berenjena"
        >

        <h3 class="apartado_h3">Efectos de la COVID-19</h3>
        <p>
             Gracias a los datos facilitados por el Ministerio de Agricultura, Pesca y Alimentación (MAPA),
             en las gráficas <b>Volumen Consumo Nacional Berenjena</b> y <b>Penetración Nacional Berenjena</b>
             mostramos la cantidad en miles de kilogramos vendidos en cada mes durante los años 2018, 2019 y 2020,
             así como el porcentaje de hogares que compran ese producto, respectivamente.
             Podemos ver como el volumen de consumo de berenjena es más bajo que el de muchos productos hortofrutícolas,
             y es que la berenjena arrastraba "una crisis" de precios que llevaba a los productores a cambiar
             esta cosecha por el melón y la sandía ya que son mas rentables. Con ello, vemos como con la llegada del
             coronavirus, los españoles hacen acopio de la berenjena, incrementando su consumo hasta un 60% en
             el mes de abril con respecto años anteriores.
             Con ello vemos como la berenjena sale <b>afectada positivamente</b> por la crisis sanitaria tanto en
             volumen de consumo, como veíamos, como en la penetración de este producto en el hogar español,
             subiendo hasta un 10% con respecto otros años, subida significativa más aun si tenemos en cuenta que
             la penetración de la berenjena no era tan elevada como la de otros productos hortofrutícolas que no
             se rigen de forma tan pronunciada por las temporadas del año (Periódico digital
            <a class="link_web" href="https://www.elespanol.com/sociedad/20200321/pimientos-suben-berenjenas-campo-gana-coronavirus/476452918_0.html" target="_blank">El Español</a>).

        <div class="hidden md:flex flex flex-wrap mt-6 clear-both">
            <div class="w-full xl:w-1/2 mt-6">
                <p class="text-xl pb-3 flex items-center">
                    <i class="fas fa-check mr-3"></i> Volumen Consumo Nacional Berenjena
                </p>
                <div class="p-6"> <!-- bg-white  -->
                    <canvas id="volumen_nacional" width="400" height="200"></canvas>
                </div>
            </div>

            <div class="w-full xl:w-1/2 mt-6">
                <p class="text-xl pb-3 flex items-center">
                    <i class="fas fa-check mr-3"></i> Penetración Nacional Berenjena
                </p>
                <div class="p-6"> <!-- bg-white -->
                    <canvas id="penetracion_nacional" width="400" height="200"></canvas>
                </div>
            </div>
        </div>

        <p class="mt-6 lg:mt-3">
            En cuanto a las <b>importaciones y exportaciones</b> realizadas en España durante el periodo
            de enero de 2017 a diciembre de 2020 podemos advertir como las exportaciones son ligeramente inferiores
            en 2020 si son comparadas con el año 2019, pero entrando dentro de valores <i>normales</i> al compararlo
            con una ventana de tiempo superior.

            Tomando los datos proporcionados por Eurostat con la información referente a
            las importaciones y exportaciones en el periodo mencionado donde esta como socio España,
            analizando la cantidad de producto en valor monetario, observamos que <b>las importaciones
            han sido bastante estables</b> a lo largo de estos últimos años, con valores significativamente inferiores
            a los de exportaciones. Con lo que corresponde a estas últimas, vemos como enero de 2020 presenta una
            bajada en materia de exportación con respecto a 2019, pero superior a 2018, aun asi, febrero de 2020
            iguala cifras que se mantienen y superar a años previos con el comienzo de la COVID-19, obteniendo en
            marzo un 18% de aumento con respecto 2019, aumento que se prolonga en los siguientes meses del año.

            Así, podemos atribuir esto ciertamente al COVID-19 como veíamos en las graficas anteriores y que
            situarían en una <b>posición positiva</b> a la berenjena durante la crisis sanitaria.
        </p>

        <div class="hidden lg:flex lg:flex-wrap mt-6">
            <div class="w-full mt-6 mb-6">
                <p class="text-xl pb-3 flex items-center">
                    <i class="fas fa-check mr-3"></i> Importaciones y Exportaciones Berenjena
                </p>
                <div class="p-6"> <!-- bg-white -->
                    <canvas id="exportacion_importacion_nacional" width="400" height="200"></canvas>
                </div>
            </div>
        </div>

        <div class="flex lg:hidden flex flex-wrap mt-7 text-gray-600 italic">
            <div class="w-full mt-6 mb-6">
                <p>
                    (Para poder ver todas las gráficas sobre el análisis de los productos hortofrutícolas
                    se necesita una pantalla mayor. Sentimos las molestias.)
                </p>
            </div>
        </div>

    </div>
</div>

{% endblock %}



{% block additional_js %}

    <script>
    $( document ).ready(function() {
        $.getJSON('../../static/data/graphs/berenjena.json', function(data) {
            /* -- Volumen Consumo Nacional Berenjena -- */
            const volumen_nacional_canvas = document.getElementById("volumen_nacional");
            const volumen_producto_nacionales = data["volumen_berenjenas_nacionales"];
            volumen_producto_nacionales["options"]["tooltips"] = {
                enabled: true,
                    mode: 'single',
                    callbacks: {
                        title: function(tooltipItems, data) {
                            return tooltipItems[0].label + ' - ' + data.datasets[tooltipItems[0].datasetIndex].label;
                        },
                        label: function(tooltipItems, data) {
                            return display_numero(tooltipItems.value) + ' miles de kg';
                        }
                    }
            }
            let line_chart_volumen_nacional = new Chart(
                volumen_nacional_canvas, volumen_producto_nacionales
            );

            /* -- Penetración Nacional Berenjena -- */
            const penetracion_nacional_canvas = document.getElementById("penetracion_nacional");
            const penetracion_producto_nacional = data["penetracion_berenjenas_nacionales"];
            penetracion_producto_nacional["options"]["tooltips"] = {
                enabled: true,
                    mode: 'single',
                    callbacks: {
                        title: function(tooltipItems, data) {
                            return tooltipItems[0].label + ' - ' + data.datasets[tooltipItems[0].datasetIndex].label;
                        },
                        label: function(tooltipItems, data) {
                            return tooltipItems.value + '%';
                        }
                    }
            }
            let line_chart_penetracion_nacional = new Chart(
                penetracion_nacional_canvas, penetracion_producto_nacional
            );

            /* -- Exportación e Importación Berenjena -- */
            const expimp_es_canvas = document.getElementById("exportacion_importacion_nacional")
            const exportacion_importacion = data["berenjenas_exportacion_importacion"]
            exportacion_importacion["options"]["tooltips"] = {
                enabled: true,
                    mode: 'single',
                    callbacks: {
                        label: function(tooltipItems, data) {
                            return display_numero(tooltipItems.value) + ' €';
                        }
                    }
            }
            exportacion_importacion["options"]["scales"]["yAxes"] = [{
                scaleLabel: {
                    display: true,
                    labelString: "Cantidad de producto en valor monetario (€)"
                },
                position: "left",
                ticks: {
                    min: 0,
                    max: 30000000,
                    callback: function(label, index, labels) {
                        return label/1000000+'M€';
                    }
                }
            }];
            exportacion_importacion["options"] ["annotation"]= marca_inicio_covid;
            let line_chart_exportacion_importacion = new Chart(
                expimp_es_canvas, exportacion_importacion
            );

        });
    });

    </script>

{% endblock %}