<!-- Con este extend hacemos que el contenido de este html vaya donde este definida la secuencia -->
<!-- block nombreEspecificado en el archivo referido (en este caso base.html) -->
{% extends "frutas/base_fruta_page.html" %}

<!-- Definimos el contenido de block title que es extendido de base.html -->
{% block nombre_fruta_titulo %}Manzana{% endblock %}
{% block nombre_fruta %}Manzana{% endblock %}

<!-- Definimos el contenido de block content que es extendido de base.html -->
{% block info_fruta %}


    <div class="flex flex-wrap justify-between">
        <div class="w-full">

            <h3 class="apartado_h3">Información de la Manzana</h3>
            <p class="mt-4">
                El manzano es originario de las zonas templadas de Europa, el oeste del Turkestán y el sudoeste y
                centro de Asia. Es un fruto que se consume desde hace muchísimo tiempo. En Suiza e Italia parece
                haber evidencias de manzanos de hace unos 4.500 años.

            </p>
            <p class="mt-4">
                El consumo medio extradoméstico más notable se asocia a la fruta fresca (0.51 kilos por persona) y,
                de manera concreta, a manzanas (0.09kilos per cápita) y naranjas y mandarinas, en menor medida.
                En término de consumiciones, las frutas frescas concentran el 77.7% y resulta significativa la
                partición de la fruta que aquí tratamos, la manzana, con el 17.8%. Esta se presenta como fruta,
                como mermelada, o incluso se utiliza para la elaboración de vinagres.
            </p>

            <img
                    class="imagen_producto"
                    src="static/images/frutas/manzana/una_res_min.jpg"
                    alt="Foto Manzana"
            >

            <h3 class="apartado_h3">Efectos de la COVID-19</h3>
            <p>
                Si tomamos los datos que nos facilita el Ministerio de Agricultura, Pesca y Alimentación (MAPA),
                podemos generar gráficas para estudiar el <b>Volumen Consumo Nacional Manzana</b> y la
                <b>Penetración Nacional Manzana</b> en las que vemos la cantidad en miles de kilogramos vendidos
                en cada mes durante los años 2018, 2019 y 2020, así como la acogida de la manzana en los hogares
                españoles,
                respectivamente. En ambas gráficas podemos observar cómo comparando los niveles de 2018 con los de 2019
                no apreciamos cambios significativos que sean dignos de mención. Quizás, en los meses de verano
                de 2019 podemos apreciar una ligera subida en el volumen de consumo y la penetración de la manzana,
                pero esto se invierte en los últimos meses del año, por lo que lo atribuimos a fluctuaciones normales
                en el mercado. Respecto el comienzo de la pandemia, esta supone un <b>impacto positivo</b>
                en términos de los niveles del volumen de consumo y la penetración de la manzana, principalmente en
                el <b>periodo de excepción</b> (marzo, abril y mayo).
                Con respecto a la penetración de los hogares, la subida que observamos en los meses iniciales de la
                pandemia oscilan entre el 7% y el 9%, comenzando a rectificarse a partir de junio.
            </p>
            <p class="mt-6 lg:mt-3">
                En 2020, el volumen del consumo nacional de la manzana se presentaba con datos ligeramente superiores
                a los de años previos, con una subida de en torno al 7% con respecto a 2018 y 2019.
                Con la llegada de la COVID-19 y la declaración
                del <b>periodo de excepción</b> (marzo, abril y mayo), el volumen de consumo sufre un ascenso
                significativo de en torno el 40% para su valor máximo en abril, con respecto a los años 2018 y 2019.
                Con ello vemos como la producción de este fruto se ve <b>afectado positivamente</b>
                ante la crisis sanitaria, aunque en menor medida que otros frutos como el limón.
                Además, podemos observar como en los meses posteriores, los valores van normalizándose más
                rápidamente que otros productos, llegando en junio a valores similares a los obtenidos en años
                anteriores.
            </p>

            <div class="hidden md:flex flex flex-wrap mt-6 clear-both">
                <div class="w-full xl:w-1/2 mt-6">
                    <p class="text-xl pb-3 flex items-center">
                        <i class="fas fa-check mr-3"></i> Volumen Consumo Nacional Manzana
                    </p>
                    <div class="p-6"> <!-- bg-white  -->
                        <canvas id="volumen_nacional" width="400" height="200"></canvas>
                    </div>
                </div>

                <div class="w-full xl:w-1/2 mt-6">
                    <p class="text-xl pb-3 flex items-center">
                        <i class="fas fa-check mr-3"></i> Penetración Nacional Manzana
                    </p>
                    <div class="p-6"> <!-- bg-white -->
                        <canvas id="penetracion_nacional" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>

            <p class="mt-6 lg:mt-3">
                Por otra parte, si estudiamos las <b>importaciones y exportaciones</b> realizadas en España durante el
                periodo comprendido entre enero de 2017 y diciembre de 2020, cabe mencionar varios comportamientos.
                Tomando los datos proporcionados por Eurostat, con la información referente a las
                importaciones y exportaciones en el periodo mencionado donde esta como socio España,
                analizando la cantidad de producto en valor monetario, observamos que las exportaciones e importaciones
                presentan valores próximos dependiendo de la época del año, causando que existan periodos de tiempo
                en los que el valor de las importaciones sea superior al de exportaciones, y viceversa.

                Como veíamos en las gráficas anteriores, los <b>meses estivos</b> son los que concentran un menor
                volumen
                de consumo de esta fruta y que llevan a las <b>exportaciones a bajar de manera significativa</b>.
                Por otra parte, en cuanto a las importaciones, vemos que estas siguen un comportamiento ciertamente
                errático con picos máximos a mitad de año. Así, con lo que respecta al <b>periodo de excepción</b>
                y meses posteriores, vemos que el comportamiento no sufre <b>ninguna variación significativa</b>,
                por lo que no podemos atribuir nada a la crisis sanitaria.
            </p>

            <div class="hidden lg:flex lg:flex-wrap mt-6">
                <div class="w-full mt-6 mb-6">
                    <p class="text-xl pb-3 flex items-center">
                        <i class="fas fa-check mr-3"></i> Importaciones y Exportaciones Manzana
                    </p>
                    <div class="p-6"> <!-- bg-white -->
                        <canvas id="exportacion_importacion_nacional" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>

            <div class="flex lg:hidden flex flex-wrap mt-7 text-gray-600 italic">
                <div class="w-full mt-6 mb-6">
                    <p>
                        (Para poder ver todas las gráficas sobre el análisis de los productos hortofrutícolas
                        se necesita una pantalla mayor. Sentimos las molestias.)
                    </p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}



{% block additional_js %}

    <script>
        $(document).ready(function () {
            $.getJSON('../../static/data/graphs/manzana.json', function (data) {
                /* -- Volumen Consumo Nacional Manzana -- */
                const volumen_nacional_canvas = document.getElementById("volumen_nacional");
                const volumen_producto_nacionales = data["volumen_manzanas_nacionales"];
                volumen_producto_nacionales["options"]["tooltips"] = {
                    enabled: true,
                    mode: 'single',
                    callbacks: {
                        title: function (tooltipItems, data) {
                            return tooltipItems[0].label + ' - ' + data.datasets[tooltipItems[0].datasetIndex].label;
                        },
                        label: function (tooltipItems, data) {
                            return display_numero(tooltipItems.value) + ' miles de kg';
                        }
                    }
                }
                let line_chart_volumen_nacional = new Chart(volumen_nacional_canvas, volumen_producto_nacionales);

                /* -- Penetración Nacional Manzana -- */
                const penetracion_nacional_canvas = document.getElementById("penetracion_nacional");
                const penetracion_producto_nacional = data["penetracion_manzanas_nacionales"];
                penetracion_producto_nacional["options"]["tooltips"] = {
                    enabled: true,
                    mode: 'single',
                    callbacks: {
                        title: function (tooltipItems, data) {
                            return tooltipItems[0].label + ' - ' + data.datasets[tooltipItems[0].datasetIndex].label;
                        },
                        label: function (tooltipItems, data) {
                            return tooltipItems.value + '%';
                        }
                    }
                }
                let line_chart_penetracion_nacional = new Chart(
                    penetracion_nacional_canvas, penetracion_producto_nacional
                );

                /* -- Exportación e Importación Manzana -- */
                const expimp_es_canvas = document.getElementById("exportacion_importacion_nacional")
                const exportacion_importacion = data["manzanas_exportacion_importacion"]
                exportacion_importacion["options"]["tooltips"] = {
                    enabled: true,
                    mode: 'single',
                    callbacks: {
                        label: function (tooltipItems, data) {
                            return display_numero(tooltipItems.value) + ' €';
                        }
                    }
                }
                exportacion_importacion["options"]["scales"]["yAxes"] = [{
                    scaleLabel: {
                        display: true,
                        labelString: "Cantidad de producto en valor monetario (€)"
                    },
                    position: "left",
                    ticks: {
                        min: 3000000,
                        max: 20000000,
                        callback: function (label, index, labels) {
                            return label / 1000000 + 'M€';
                        }
                    }
                }];
                exportacion_importacion["options"] ["annotation"]= marca_inicio_covid;
                let line_chart_exportacion_importacion = new Chart(
                    expimp_es_canvas, exportacion_importacion
                );

            });
        });

    </script>

{% endblock %}