<!-- Con este extend hacemos que el contenido de este html vaya donde este definida la secuencia -->
<!-- block nombreEspecificado en el archivo referido (en este caso base.html) -->
{% extends "frutas/base_fruta_page.html" %}

<!-- Definimos el contenido de block title que es extendido de base.html -->
{% block nombre_fruta_titulo %}Pera{% endblock %}
{% block nombre_fruta %}Pera{% endblock %}

<!-- Definimos el contenido de block content que es extendido de base.html -->
{% block info_fruta %}


    <div class="flex flex-wrap justify-between">
        <div class="w-full">

            <h3 class="apartado_h3">Información de la Pera</h3>
            <p class="mt-4">
                Esta fruta es originaria de regiones de Europa oriental y de Asia occidental,
                donde su cultivo se viene realizando desde épocas muy remotas. Los griegos y los romanos conocieron
                el cultivo del peral y fueron estos últimos los que lo introdujeron en la Cuenca del Ebro.
                China y España son los principales países productores en la actualidad.
            </p>

            <img
                    class="imagen_producto"
                    src="static/images/frutas/pera/pera_res_min.jpg"
                    alt="Foto Peras"
            >

            <p class="mt-4">
                Dentro de las frutas, la pera se encuentra como una de las principales producciones a nivel europeo,
                tras la manzana y la naranja, con 3 millones de toneladas. Además, dentro de las producciones de frutas
                con pepita a nivel mundial, las peras predominan junto a las manzanas.
            </p>

            <h3 class="apartado_h3">Efectos de la COVID-19</h3>
            <p>
                Para analizar los efecto de la COVID-19 tomaremos los datos que nos facilita el Ministerio de Agricultura,
                Pesca y Alimentación (MAPA), que nos permiten generar las gráficas para estudiar el
                <b>Volumen Consumo Nacional Pera</b> y la <b>Penetración Nacional Pera</b>
                en las que vemos la cantidad en miles de kilogramos vendidos en cada mes durante los años 2018, 2019
                y 2020, así como la acogida de la pera en los hogares españoles, respectivamente.

                Por una parte, analizando el volumen de consumo nacional de la pera vemos que esta fruta, al igual
                que muchas otras, sufre variaciones dependiendo de la temporada en la que nos encontremos.
                Los años 2018 y 2019 presentan datos muy similares en cuanto a miles de kg vendidos de esta fruta.
                Si analizamos el año 2020 vemos que el comportamiento sigue siendo muy similar menos para el ecuador del
                <b>periodo de excepción</b>, el mes de abril, donde observamos un aumento algo significativo
                distanciándose hasta un 19% con respecto años anteriores.

                Es un <b>aumento leve</b> si tenemos en cuenta el gran volumen que la pera
                mantiene en estos meses. Posteriormente, en mayo vemos como se normaliza la situación y se vuelven a
                niveles típicos de años pasados.
            </p>
            <p class="mt-6 lg:mt-3">
                En lo referente a la penetración nacional de la pera, 2020 se iniciaba con datos similares a los
                niveles obtenidos en los años 2018 y 2019.
                Con la llegada de la COVID-19 y la declaración del <b>periodo de excepción</b>,
                la penetración también sufre un ascenso de en torno el 5% en abril con respecto a los años 2018 y 2019.
                Con ello vemos como la producción de esta fruta se ve <b>afectada positivamente</b>
                ante la crisis sanitaria, pero con menor intensidad que otros productos hortofrutícolas.
            </p>

            <div class="hidden md:flex flex flex-wrap mt-6 clear-both">
                <div class="w-full xl:w-1/2 mt-6">
                    <p class="text-xl pb-3 flex items-center">
                        <i class="fas fa-check mr-3"></i> Volumen Consumo Nacional Pera
                    </p>
                    <div class="p-6"> <!-- bg-white  -->
                        <canvas id="volumen_nacional" width="400" height="200"></canvas>
                    </div>
                </div>

                <div class="w-full xl:w-1/2 mt-6">
                    <p class="text-xl pb-3 flex items-center">
                        <i class="fas fa-check mr-3"></i> Penetración Nacional Pera
                    </p>
                    <div class="p-6"> <!-- bg-white -->
                        <canvas id="penetracion_nacional" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>

            <p class="mt-6 lg:mt-3">
                Con lo correspondiente a las <b>importaciones y exportaciones</b> realizadas en España durante el
                periodo comprendido entre enero de 2017 y diciembre de 2020, observamos varios patrones.

                Tomando los datos proporcionados por Eurostat, con la información referente a las
                importaciones y exportaciones en el periodo mencionado donde España interviene como socio,
                analizando la cantidad de producto en valor monetario, observamos que las importaciones y las
                exportaciones
                siguen patrones ondulantes donde tienden a contrarrestarse con picos máximos de importaciones en el
                mes de marzo, y mínimos de exportaciones en dicha época del año. En cuanto a las exportaciones,
                estas presentan épocas por encima de las importaciones y otros periodos de tiempo donde repuntan
                muy por encima de estas últimas, concretamente en los meses de octubre y septiembre. Así,
                el mercado parece equilibrarse y mantener la oferta y demanda de este producto, como pasa con
                otros productos hortofrutícolas.

                Centrándonos en los niveles obtenidos durante el periodo de la pandemia,
                vemos que la tendencia en los meses del <b>periodo de excepción</b> con respecto las importaciones
                es alcista, como venía siendo lo normal, llegando a máximos locales que parecen mantenerse incluso en el
                mes de abril, hecho que no observamos en años anteriores, y que nos hace pensar que el inicio de la
                crisis sanitaria tiene cierto <b>impacto positivo</b> en términos de importaciones para esta fruta.
                Este impacto no es muy duradero por lo que tampoco es algo muy significativo,
                y es que en mayo los valores tienden a bajar siguiendo el patrón observado en otros años.

                Con respecto al mes de abril, observamos valores de exportaciones similares a los de años previos,
                disminuyendo progresivamente hasta alcanzar el mínimo valor del año en junio, como veíamos
                en todos los años anteriores. Así pues, podemos afirmar que el impacto de la crisis sanitaria sobre
                la pera es ínfima.
            </p>

            <div class="hidden lg:flex lg:flex-wrap mt-6">
                <div class="w-full mt-6 mb-6">
                    <p class="text-xl pb-3 flex items-center">
                        <i class="fas fa-check mr-3"></i> Importaciones y Exportaciones Pera
                    </p>
                    <div class="p-6"> <!-- bg-white -->
                        <canvas id="exportacion_importacion_nacional" width="400" height="200"></canvas>
                    </div>
                </div>
            </div>

            <div class="flex lg:hidden flex flex-wrap mt-7 text-gray-600 italic">
                <div class="w-full mt-6 mb-6">
                    <p>
                        (Para poder ver todas las gráficas sobre el análisis de los productos hortofrutícolas
                        se necesita una pantalla mayor. Sentimos las molestias.)
                    </p>
                </div>
            </div>

        </div>
    </div>

{% endblock %}



{% block additional_js %}

    <script>
        $(document).ready(function () {
            $.getJSON('../../static/data/graphs/pera.json', function (data) {
                /* -- Volumen Consumo Nacional Pera -- */
                const volumen_nacional_canvas = document.getElementById("volumen_nacional");
                const volumen_producto_nacionales = data["volumen_peras_nacionales"];
                volumen_producto_nacionales["options"]["tooltips"] = {
                    enabled: true,
                    mode: 'single',
                    callbacks: {
                        title: function (tooltipItems, data) {
                            return tooltipItems[0].label + ' - ' + data.datasets[tooltipItems[0].datasetIndex].label;
                        },
                        label: function (tooltipItems, data) {
                            return display_numero(tooltipItems.value) + ' miles de kg';
                        }
                    }
                }
                let line_chart_volumen_nacional = new Chart(volumen_nacional_canvas, volumen_producto_nacionales);

                /* -- Penetración Nacional Pera -- */
                const penetracion_nacional_canvas = document.getElementById("penetracion_nacional");
                const penetracion_producto_nacional = data["penetracion_peras_nacionales"];
                penetracion_producto_nacional["options"]["tooltips"] = {
                    enabled: true,
                    mode: 'single',
                    callbacks: {
                        title: function (tooltipItems, data) {
                            return tooltipItems[0].label + ' - ' + data.datasets[tooltipItems[0].datasetIndex].label;
                        },
                        label: function (tooltipItems, data) {
                            return tooltipItems.value + '%';
                        }
                    }
                }
                let line_chart_penetracion_nacional = new Chart(
                    penetracion_nacional_canvas, penetracion_producto_nacional
                );

                /* -- Exportación e Importación Pera -- */
                const expimp_es_canvas = document.getElementById("exportacion_importacion_nacional")
                const exportacion_importacion = data["peras_exportacion_importacion"]
                exportacion_importacion["options"]["tooltips"] = {
                    enabled: true,
                    mode: 'single',
                    callbacks: {
                        label: function (tooltipItems, data) {
                            return display_numero(tooltipItems.value) + ' €';
                        }
                    }
                }
                exportacion_importacion["options"]["scales"]["yAxes"] = [{
                    scaleLabel: {
                        display: true,
                        labelString: "Cantidad de producto en valor monetario (€)"
                    },
                    position: "left",
                    ticks: {
                        min: 600000,
                        max: 20000000,
                        callback: function (label, index, labels) {
                            return label / 1000000 + 'M€';
                        }
                    }
                }];
                exportacion_importacion["options"] ["annotation"] = marca_inicio_covid;
                let line_chart_exportacion_importacion = new Chart(
                    expimp_es_canvas, exportacion_importacion
                );

            });
        });

    </script>

{% endblock %}